<div >  
  <div *ngIf="isBackCamera; then unflipCamera else flipCamera" class="action-btn">
    buttons renders here
  </div>

  <ng-template #unflipCamera>      
    <ion-fab vertical="top" horizontal="left" slot="fixed">
      <ion-fab-button size="small" color="secondary" (click)="toggleCamera(false)"> 
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>

  <ng-template #flipCamera >  
    
    <ion-fab vertical="top" horizontal="left" slot="fixed">
      <ion-fab-button size="small" (click)="toggleCamera(true)">        
        <ion-icon name="camera-reverse-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ng-template>

  
</div>