<ion-header class="header">
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button defaultHref="home/profile"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" (click)="saveSelectedProfileAnswers()"> Save</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">  
  <div class="header-label ion-padding">
    <h2>
      Personalize <br />
      your profile
    </h2>
  </div>

  <ion-button (click)="clearLocalStorage()"> Clear Local Storage</ion-button>
  <br/><br/><br/>
 
 <!-- Profile Picture Grid -->

  <div class="profilePicsGrid">
    <ion-grid>

      <ion-row >
        <ion-col class="profilePicHolder">   
            <img  [src]="profilePic1 ? profilePic1 : image" 
            (click)="createPopOver($event)" 
            id="profilePic1"
            class="center" 
            name="profilePic1"/>                
              
          <a class="delete-btn" (click)="deletePic($event)" id="profilePic1" style="display: inline;">&#215;</a>                    
        </ion-col>


        <ion-col class="profilePicHolder">    
          <div>            
            <img [src]="profilePic2 ? profilePic2 : image"  
            id="profilePic2"
            (click)="createPopOver($event)" 
            class="center"
             name="profilePic2" />    
          </div>

          <a class="delete-btn" (click)="deletePic($event)" id="profilePic2" style="display: inline;">&#215;</a>
        </ion-col> 
        
        
        <ion-col class="profilePicHolder">          
          <div >
            <img [src]="profilePic3 ? profilePic3 : image" 
            id="profilePic3" 
            (click)="createPopOver($event)" 
            name="profilePic3"/>    
          </div>
         
           <a class="delete-btn" (click)="deletePic($event)" id="profilePic3" style="display: inline;">&#215;</a>
        </ion-col>
        
      </ion-row>

      <ion-row>

        <ion-col class="profilePicHolder" >
          
          <div >
            <img [src]="profilePic4 ? profilePic4 : image" 
            id="profilePic4" 
            (click)="createPopOver($event)" 
            name="profilePic4"/>    
          </div>
         
           <a class="delete-btn" (click)="deletePic($event)" id="profilePic4" style="display: inline;">&#215;</a>

        </ion-col>  
        <ion-col class="profilePicHolder" >
          
          <div >
            <img [src]="profilePic5 ? profilePic5 : image" 
            id="profilePic5" 
            (click)="createPopOver($event)" 
            name="profilePic5"/>    
          </div>
         
           <a class="delete-btn" (click)="deletePic($event)" id="profilePic5" style="display: inline;">&#215;</a>

        </ion-col>  
        <ion-col class="profilePicHolder"  >
          
          <div >            
            <img [src]="profilePic6 ? profilePic6 : image" 
            id="profilePic6" 
            (click)="createPopOver($event)" 
            name="profilePic6"/>    
          </div>
         
           <a class="delete-btn" (click)="deletePic($event)" id="profilePic6" style="display: inline;">&#215;</a>
        </ion-col>  
       
      </ion-row>   
    </ion-grid>

  </div>

  <!-- School Details Section -->

  <form>
    <ion-list>
      <!-- School Name  -->
      <ion-item *ngIf="!showSearchBar"  >
        <ion-label position="floating">School</ion-label>
        <ion-input type="text" name="searchTerm" (click)="showSchoolField($event)"
        [(ngModel)]="searchTerm"></ion-input>          
      </ion-item>

      <!-- searchbar  -->
      <ion-searchbar *ngIf="showSearchBar" name="searchTerm" [(ngModel)]="searchTerm"  
      (input)="filterList($event)" type="text" debounce="200" >      
      </ion-searchbar>

      <!-- shearcbar list -->
      <ion-list *ngIf="showList" style="width: 100%; "> 
        <ion-item class="ddlSchoolItems" *ngFor="let school of schoolList" 
        (click)="schoolSelected($event)">
          <li> {{school.name}}</li>          
        </ion-item> 
      </ion-list>
     
    <!-- Program of study> -->

      <ion-item>
        <ion-label position="floating">Program of Study</ion-label>
        <ion-input type="text" name="program" [(ngModel)]="program"></ion-input>
      </ion-item>

      <!-- Class off -->

      <ion-item>
        <ion-label position="floating">Class off</ion-label>
        <ion-datetime displayFormat="YYYY" pickerFormat="MMMM DD YYYY" name="year" [(ngModel)]="year"></ion-datetime>          
        <!-- <ion-input type="text" name="year" [(ngModel)]="year"></ion-input> -->
      </ion-item>

      <!-- Location -->
      
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" name="location" [(ngModel)]="location"></ion-input>
      </ion-item>  
    </ion-list>
  </form>

  <ion-list >

    <div class="edit-prompt">
      
      <ion-item>
        <ion-label class="prompt-string"   (click)="userSelectedQuestion($event)">
          <h2 id="profileAnswer1" >{{profileQuestion1 != null ? profileQuestion1 : 'Select a prompt' }}  </h2>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Write your answer</ion-label>        
        <ion-textarea [(ngModel)]="profileAnswer1" type="text" autoGrow="true" maxlength="120" wrap="soft"  rows="1"
        ></ion-textarea>
      </ion-item>
    </div>

    <div class="edit-prompt">
      
      <ion-item>
        <ion-label class="prompt-string"  (click)="userSelectedQuestion($event)">
          <h2 id="profileAnswer2"> {{profileQuestion2 != null ? profileQuestion2 : 'Select a prompt' }} </h2>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Write your answer</ion-label>        
        <ion-textarea [(ngModel)]="profileAnswer2" type="text" autoGrow="true" maxlength="120" wrap="soft"  rows="1"
        ></ion-textarea>
      </ion-item>
    </div>

    <div class="edit-prompt">
      
      <ion-item>
        <ion-label class="prompt-string"  (click)="userSelectedQuestion($event)">
          <h2 id="profileAnswer3"> {{profileQuestion3 != null ? profileQuestion3 : 'Select a prompt' }} </h2>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Write your answer</ion-label>        
        <ion-textarea [(ngModel)]="profileAnswer3" type="text" autoGrow="true" maxlength="120" wrap="soft"  rows="1"
        ></ion-textarea>
      </ion-item>
    </div>
    
  </ion-list>
  


</ion-content>


