<ion-content class="ion-padding">
  <div class="header-label">
    <h2>
      Select your <br />
      profile images
    </h2>
  </div>
  <div class="flex">
  <ion-button (click)="addPhotoAction('library')" shape="round" color="primary">
    <ion-icon slot="start" name="image"></ion-icon>
    Library
  </ion-button>

  <ion-button (click)="addPhotoAction('camera')" shape="round" color="tertiary">
    <ion-icon slot="start" name="camera"></ion-icon>
    Camera
  </ion-button>
  </div>

  <ion-list>
    <div class="flex img-box" >     
      <img src="{{userData ? userData.photoURL : this.imageDefault}}">          
    </div>
  </ion-list>
<div class="flex">
  <ion-button (click)="completeUploadToFirebaseAction()" shape="round" class="gradient-btn next-btn">Complete</ion-button>
</div>
</ion-content>