
.flex {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .img-box {
    height: 200px;
    overflow: hidden;
  }
  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }













































#camera-btn{
    font-size: 25px;
    margin-right: 20px;    
    color: #050044;
}

.header-label{
    h2{
        font-family: Corbel;
        font-weight: bold;
        font-style: italic;
        font-size: 25pt;        
        margin-bottom: 5px;
        letter-spacing: -1px;
    }    
}

ion-row{
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;       
}

ion-item{
    padding: 0px;   
    
    .main-pic{
        background-color: transparent;
        height: 200px;
        width: 200px;       
        padding-bottom: 2px; 
    }
    .other-profile-pic{
        border: none;
        height: 50px;
        width: 50px;     
        padding-bottom: 2px;
        padding-left: 2px;
        
    }
    ion-buttons {        
        justify-content: center;  
        height: 100%; 
        background-color: #ffffff;
        
        
        ion-icon{
            color: #56419d;            
            //color: #050044;
            //color: #3c73d1;            
            background-color: transparent;
            font-size: 20px;
        }
    }
}

#main-pic-shape{
    border: none;    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;       
    border-radius: 50%;
    background-color:#ffffff;         
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.4);
}

#other-profile-pic-shape{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}



.next-btn{
    text-align: center;        
    min-width: 300px;
}

.gradient-btn{
    --background: linear-gradient(
        90deg,
        rgba(5,0,68,1) 0%, 
        rgba(87,66,158,0.51) 57%, 
        rgba(60,115,209,1) 100%);
}
