<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons id="camera-btn" class="test" slot="end" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-label">
    <h2>
      Select your <br />
      profile images
    </h2>
  </div>

  <ion-button (click)="addPhoto('library')" shape="round" color="primary">
    <ion-icon slot="start" name="image"></ion-icon>
    Library
  </ion-button>

  <ion-button (click)="addPhoto('camera')" shape="round" color="tertiary">
    <ion-icon slot="start" name="camera"></ion-icon>
    Camera
  </ion-button>

  <div class="flex">
    <div class="img-box">
      <img [src]="image" />
    </div>
  </div>

  <ion-button (click)="uploadFirebase()" shape="round" class="gradient-btn next-btn">Complete</ion-button>
</ion-content>