<ion-header>
  <ion-toolbar>
      <h3>{{userData.firstLastName ? userData.firstLastName : ""}}</h3>
    <ion-avatar slot="end">
      <img src="{{userData.photoURL ? userData.photoURL : this.image}}"
      (click)="viewSelectedProfile(userData)"
      />    
    </ion-avatar>
    
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-grid fixed>
    <div class="header-label ion-padding">
      <h2>
        Settings        
      </h2>
    </div>

    <ion-row>      
      <ion-col size="12">
        
        <ion-item>
          <ion-label>Set Dark Mode</ion-label>
          <ion-toggle 
          checked="isDarkThemeTurnedOn"
          [(ngModel)]="isDarkThemeTurnedOn" id="isDarkThemeTurnedOn" name="isDarkThemeTurnedOn"  
          (ionChange)="onToggleColorTheme($event)"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Clear Local Storage</ion-label>
          <ion-button (click)="clearLocalStorage()"> Clear </ion-button>  
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Logout</ion-label>
          <ion-button (click)="logout()">Logout</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>  
  </ion-grid>

</ion-content>
