<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Set Dark Mode</ion-label>
          <ion-toggle 
          checked="isDarkThemeTurnedOn"
          [(ngModel)]="isDarkThemeTurnedOn" id="isDarkThemeTurnedOn" name="isDarkThemeTurnedOn"  
          (ionChange)="onToggleColorTheme($event)"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Logout</ion-label>
          <ion-button (click)="logout()">Logout</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>  
  </ion-grid>

</ion-content>
