<ion-header class="header">
  <ion-toolbar>
    <ion-row>    

      <ion-buttons >
        <ion-button ion-button icon-only fill="clear">          
        </ion-button>
      </ion-buttons>
      
      <ion-buttons class="profile-edit-btn">
        <ion-button (click)="editProfile()"  color="light" >
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex">

    <!-- main profile picture -->
    <div class="img-box" *ngIf="currentUser?.profilePic1">
      <img src="{{currentUser?.profilePic1 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">
        <ion-input class="input-pic" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>
    </div>

    <!-- follow section -->
    <div class="profile-contact-row">
      <ion-row>
        <div class="profile-lable-box-left">
          <h4 class="profile-name-label">{{currentUser?.firstLastName}}</h4>
          <p class="profile-username-label">@{{currentUser?.displayName}}</p>
        </div>

        <div class="profile-label-follow-right">
          <ion-button (click)="followProfile()"  shape="round" class="profile-follow-btn">Follow</ion-button>   
        </div>
      </ion-row>
    </div>
    
    <!-- School info  -->
    
    <div class="text-card-school">

      <ion-row class="profile-details">
        <ion-col size="2">
          <ion-icon name="book"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{currentUser?.school}}</p>
        </ion-col>
      </ion-row>
      
      <ion-row class="profile-details">
        <ion-col size="2">
          <ion-icon name="ribbon"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{currentUser?.program}}</p>
        </ion-col>
      </ion-row>
      

      <ion-row class="profile-details">
        <ion-col size="2">          
          <ion-icon name="school"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{currentUser?.classOf | date  :  'yyyy'  }}</p>
        </ion-col>
      </ion-row>
      

      <ion-row class="profile-details">
        <ion-col size="2">
          <ion-icon name="location"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{currentUser?.location}}</p>
        </ion-col>
      </ion-row>
      
    </div>    
    
    <!-- Second Image  -->

    <div class="img-box" *ngIf="currentUser?.profilePic2"> 
      <img src="{{currentUser?.profilePic2 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">
        <ion-input class="input-pic" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>
    </div>

    <!-- First Card Text Prompt  -->

    <div class="text-card-prompt">

      <ion-row class="profile-prompts-text">
       <p>{{currentUser?.profileAnswer1.text}}</p>
      </ion-row>
      
      <ion-row class="profile-prompts-asnwer">
       <h3>{{currentUser?.profileAnswer1.answer}}</h3>
      </ion-row> 

      <ion-row class="image-input-row-style">
        <ion-input class="input-prompt" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row> 
      
    </div>

    <!-- Third Image  -->

    <div class="img-box" *ngIf="currentUser?.profilePic3"> 
      <img src="{{currentUser?.profilePic3 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">
        <ion-input class="input-pic" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>
    </div>

    <!-- Second Card Text Prompt  -->

    <div class="text-card-prompt">

      <ion-row class="profile-prompts-text">
       <p>{{currentUser?.profileAnswer2.text}}</p>
      </ion-row>
      
      <ion-row class="profile-prompts-asnwer">
       <h3>{{currentUser?.profileAnswer2.answer}}</h3>
      </ion-row> 

      <ion-row class="image-input-row-style">
        <ion-input class="input-prompt" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row> 
      
    </div>

    <!-- Fourth Image  -->

    <div class="img-box" *ngIf="currentUser?.profilePic4"> 
      <img src="{{currentUser?.profilePic4 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">
        <ion-input class="input-pic" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>
    </div>

    <!-- Third Card Text Prompt  -->

    <div class="text-card-prompt">      

      <ion-row class="profile-prompts-text">
       <p>{{currentUser?.profileAnswer3.text}}</p>
      </ion-row>
      
      <ion-row class="profile-prompts-asnwer">
       <h3>{{currentUser?.profileAnswer3.answer}}</h3>
      </ion-row> 

      <ion-row class="image-input-row-style">
        <ion-input class="input-prompt" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row> 
      
    </div>

    <!-- Fifth Image  -->

    <div class="img-box" *ngIf="currentUser?.profilePic5"> 
      <img src="{{currentUser?.profilePic5 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">
        <ion-input class="input-pic" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>
    </div>

     <!-- Sixth Image  -->

    <div class="img-box" *ngIf="currentUser?.profilePic6"> 
      <img src="{{currentUser?.profilePic6 || image }}" class="profile-img">       
     
      <ion-row class="image-input-row-style">
        <ion-input class="input-pic" placeholder="Write something"></ion-input>        
        
        <ion-fab-button (click)="like-btn()" slopt="end" class="like-btn" >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>
    </div>


  </div>

  
  
</ion-content>

