
ion-content{
    --padding: 12px
}

.header-label{
    h2{
        font-family: Corbel;
        font-weight: bold;
        font-style: italic;
        font-size: 25pt;        
        margin-bottom: 20px;
        letter-spacing: -1px;
    }
}

.signup-btn{    
    min-width: 300px;
    text-align: center;
    margin-bottom: 20px;       
}

.gradient-btn{
    --background: linear-gradient(
        90deg,
        rgba(5,0,68,1) 0%, 
        rgba(87,66,158,0.51) 57%, 
        rgba(60,115,209,1) 100%);
        margin-top: 150px;
}

.signin-link{    
    font-family: 'Segoe UI';     
    font-size: 12px;    
    align-items: center;
    justify-content: center;
    a {
        color: #57429E;
    }
}