<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>





<ion-content class="ion-padding">
  <div class="header-label">
    <h2>Forgot password</h2>
    <p>Please enter your email address. 
      You will receive a link to create a new password via email
    </p>
  </div>
  
    <form>
      <ion-list>
  
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
  
      
      
  
        <div class="sendEmailReset-btn">
          <ion-button (click)="sendEmailReset()"  shape="round" class="gradient-btn sendEmailReset-btn">Send</ion-button>   
        </div>  
        
  
      </ion-list>
    </form>
  </ion-content>
  
