
ion-back-button{
    --icon-font-size: 20px;    
}
.header-label{
    h2{
        font-family: Corbel;
        font-weight: bold;
        font-style: italic;
        font-size: 30pt;        
        margin-bottom: 5px;
        letter-spacing: -1px;
    }    
    
    p {
        font-family: 'Segoe UI';
        //font-weight: bold;
        font-size: 16;
        margin-top: 5px;        
        padding-bottom: 50px;
    }
}

ion-item{
    margin-bottom: 200px;
}

.sendEmailReset-btn{
    text-align: center;        
    min-width: 300px;
}

.gradient-btn{
    --background: linear-gradient(
        90deg,
        rgba(5,0,68,1) 0%, 
        rgba(87,66,158,0.51) 57%, 
        rgba(60,115,209,1) 100%);
             
         
}
