<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/search"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" class="avatar-header">      
      <img src="{{selectedUserProfile?.photoURL || image}}">    
    </ion-avatar> 
    <ion-title class="ion-no-padding">@{{selectedUserProfile?.displayName}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-template class="no-profile-pic"  #noProfilePic>
    <div class="no-profile-setup">
      <img src="{{ image }}" >
      <p>Private or user didn't set up their profile. </p> 
    </div>
  </ng-template>

  
  <div class="flex" *ngIf="selectedUserProfile?.profilePic1; else noProfilePic">
    <!-- {{currentUser.uid }}
    <br>
    {{selectedUserProfile?.uid}} -->
    <!-- main profile picture -->
    <div class="img-box" *ngIf="selectedUserProfile?.profilePic1">
      <img src="{{selectedUserProfile?.profilePic1 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style" class="ion-no-padding">
        <ion-textarea
          auto-grow="true"
          rows="1"
          maxRows="4"
            class="message-input"
            (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic1, newMsgP1)"
            maxLength="500"
            [(ngModel)]="newMsgP1"
          >
        </ion-textarea>

        <ion-fab-button
          slopt="end" 
          class="send-btn"
          color="primary" 
          fill="clear"
          [disabled]="newMsgP1 === '' "
          id="newMsgP1"
          (click)="msgSlot($event)"
          (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic1, newMsgP1)"
        >        
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>

    </div>

    <!-- follow section -->
    <div class="profile-contact-row" *ngIf="selectedUserProfile?.firstLastName">
      <ion-row>
        <div class="profile-lable-box-left">
          <h4 class="profile-name-label">{{selectedUserProfile?.firstLastName}}</h4>
          <p class="profile-username-label">@{{selectedUserProfile?.displayName}}</p>
        </div>

        <div class="profile-label-follow-right">

          <app-follow-button 
            class="profile-follow-btn"
            [isFollowing]="isFollowing"
            [otherUser]="selectedUserProfile" 
            id="{{selectedUserProfile.uid}}" 
            [currentUser]="currentUser"
            >
          </app-follow-button>

        </div>
      </ion-row>
    </div>
    
    <!-- School info  -->
    
    <div class="text-card-school" *ngIf="selectedUserProfile?.school">

      <ion-row class="profile-details">
        <ion-col size="2">
          <ion-icon name="book"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{selectedUserProfile?.school}}</p>
        </ion-col>
      </ion-row>
      
      <ion-row class="profile-details">
        <ion-col size="2">
          <ion-icon name="ribbon"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{selectedUserProfile?.program}}</p>
        </ion-col>
      </ion-row>
      

      <ion-row class="profile-details">
        <ion-col size="2">          
          <ion-icon name="school"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{selectedUserProfile?.classOf | date  :  'yyyy'  }}</p>
        </ion-col>
      </ion-row>
      

      <ion-row class="profile-details">
        <ion-col size="2">
          <ion-icon name="location"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <p>{{selectedUserProfile?.location}}</p>
        </ion-col>
      </ion-row>
      
    </div>    
    
    <!-- Second Image  -->

    <div class="img-box" *ngIf="selectedUserProfile?.profilePic2"> 
      <img src="{{selectedUserProfile?.profilePic2 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style" class="ion-no-padding">
        <ion-textarea
        auto-grow="true"
        rows="1"
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic2, newMsgP2)"
          maxLength="500"
          [(ngModel)]="newMsgP2"
        ></ion-textarea>     
        
        <ion-fab-button 
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profilePic2"
        fill="clear"
        [disabled]="newMsgP2 === '' "
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic2, newMsgP2)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>         
      </ion-row>
    </div>

    <!-- First Card Text Prompt  -->

    <div class="text-card-prompt" *ngIf="selectedUserProfile?.profileAnswer1.text">

      <ion-row class="profile-prompts-text">
       <p>{{selectedUserProfile?.profileAnswer1.text}}</p>
      </ion-row>
      
      <ion-row class="profile-prompts-asnwer">
       <h3>{{selectedUserProfile?.profileAnswer1.answer}}</h3>
      </ion-row> 

      <ion-row class="image-input-row-style">
        <ion-textarea
        auto-grow="true"
        rows="1"
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profileAnswer1, newMsgC1)"
          maxLength="500"
          [(ngModel)]="newMsgC1"
        ></ion-textarea>
     
        <ion-fab-button 
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profileAnswer1"
        fill="clear"
        [disabled]="newMsgC1 === '' "
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profileAnswer1, newMsgC1)"
        > 
          <ion-icon name="star-outline"></ion-icon>  
        </ion-fab-button>      
      </ion-row> 
      
    </div>

    <!-- Third Image  -->

    <div class="img-box" *ngIf="selectedUserProfile?.profilePic3"> 
      <img src="{{selectedUserProfile?.profilePic3 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">
        
        
        <ion-textarea                 
        auto-grow="true"
        rows="1"                
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic3, newMsgP3)"
          maxLength="500"
          [(ngModel)]="newMsgP3"
        ></ion-textarea>     
        
        <ion-fab-button         
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profilePic3"
        fill="clear"
        [disabled]="newMsgP3 === '' "        
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic3, newMsgP3)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>   
      </ion-row>
    </div>

    <!-- Second Card Text Prompt  -->

    <div class="text-card-prompt"  *ngIf="selectedUserProfile?.profileAnswer2.text">

      <ion-row class="profile-prompts-text">
       <p>{{selectedUserProfile?.profileAnswer2.text}}</p>
      </ion-row>
      
      <ion-row class="profile-prompts-asnwer">
       <h3>{{selectedUserProfile?.profileAnswer2.answer}}</h3>
      </ion-row> 

      <ion-row class="image-input-row-style">
        <ion-textarea
        auto-grow="true"
        rows="1"
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profileAnswer2, newMsgC2)"
          maxLength="500"
          [(ngModel)]="newMsgC2"
        ></ion-textarea>
        
        <ion-fab-button 
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profileAnswer2"
        fill="clear"
        [disabled]="newMsgC2 === '' "
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profileAnswer2, newMsgC2)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>
      </ion-row> 
      
    </div>

    <!-- Fourth Image  -->

    <div class="img-box" *ngIf="selectedUserProfile?.profilePic4"> 
      <img src="{{selectedUserProfile?.profilePic4 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">
        <ion-textarea
        auto-grow="true"
        rows="1"
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic4, newMsgP4)"
          maxLength="500"
          [(ngModel)]="newMsgP4"
        ></ion-textarea>
     
        
        <ion-fab-button 
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profilePic4"
        fill="clear"
        [disabled]="newMsgP4 === '' "
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic4, newMsgp4)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>
      </ion-row>
    </div>

    <!-- Third Card Text Prompt  -->

    <div class="text-card-prompt"  *ngIf="selectedUserProfile?.profileAnswer3.text">      

      <ion-row class="profile-prompts-text">
       <p>{{selectedUserProfile?.profileAnswer3.text}}</p>
      </ion-row>
      
      <ion-row class="profile-prompts-asnwer">
       <h3>{{selectedUserProfile?.profileAnswer3.answer}}</h3>
      </ion-row> 

      <ion-row class="image-input-row-style">
        <ion-textarea
        auto-grow="true"
        rows="1"
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profileAnswer3, newMsgC3)"
          maxLength="500"
          [(ngModel)]="newMsgC3"
        ></ion-textarea>
        
        <ion-fab-button 
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profileAnswer3"
        fill="clear"
        [disabled]="newMsgC3 === '' "
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profileAnswer3, newMsgC3)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>    
      </ion-row> 
      
    </div>

    <!-- Fifth Image  -->

    <div class="img-box" *ngIf="selectedUserProfile?.profilePic5"> 
      <img src="{{selectedUserProfile?.profilePic5 || image }}" class="profile-img">
     
      <ion-row class="image-input-row-style">

        <ion-textarea
        auto-grow="true"
        rows="1"
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic5, newMsgP5)"
          maxLength="500"
          [(ngModel)]="newMsgP5"
        ></ion-textarea>
     
        
        <ion-fab-button 
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profilePic5"
        fill="clear"
        [disabled]="newMsgP5 === '' "
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic5, newMsgP5)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>       
      </ion-row>
    </div>

     <!-- Sixth Image  -->

    <div class="img-box lastImage" *ngIf="selectedUserProfile?.profilePic6"> 
      <img src="{{selectedUserProfile?.profilePic6 || image }}" class="profile-img">       
     
      <ion-row class="image-input-row-style">

        <ion-textarea
        auto-grow="true"
        rows="1"
        maxRows="4"
          class="message-input"
          (keyup.enter)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic6, newMsgP6)"
          maxLength="500"
          [(ngModel)]="newMsgP6"
        ></ion-textarea>
     
        
        <ion-fab-button 
        slopt="end" 
        class="send-btn"
        color="primary" 
        id="profilePic6"
        fill="clear"
        [disabled]="newMsgP6 === '' "
        (click)="sendMessage(selectedUserProfile, selectedUserProfile?.profilePic6, newMsgP6)"
        >
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>   
      </ion-row>
    </div>


  </div>

  
  
</ion-content>

