<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>   
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      #search    
      type="text" 
      debounce="200" 
      (ionChange)="filterList($event)">      
    </ion-searchbar> 
  </ion-toolbar>
</ion-header>

<ion-content>
 
 <ion-list *ngIf="searchTerm.length > 0" style="width: 100%; "> 

   <ion-item class="ddlSelectItems" *ngFor="let user of searchTerm" >  
       <ion-avatar slot="start">
         <img src="{{user.photoURL? user.photoURL : this.image}}" (click)="goToSelectedProfile(user)" >
       </ion-avatar>
       
       <ion-col class="label" size="8" >
        <ion-label>
          <h2>
            {{user.firstLastName ? user.firstLastName : "" }}
          </h2>
          <p>
            @{{user.displayName}}
          </p>
          <h6>{{user.uid ? user.uid : ""}}</h6>
        </ion-label>
       </ion-col>

       <ion-col class="label" size="4" > 

         <app-follow-button 
         [user]="user" 
         id="{{user.uid}}" 
         [currentUser]="currentUser">
       </app-follow-button>
         
       </ion-col>   
  </ion-item> 

 </ion-list>
</ion-content>
