<ion-content class="ion-padding">
<div class="header-label">
  <h2>Welcome back,</h2>
  <p>Login to your account</p>
</div>

  <form>
    <ion-list class="listBkg">

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <div class="forgot-pwrd">
        <ion-button routerLink="/forgot-password" fill="clear" class="forgot-pwrd ion-no-padding">Forgot Pasword?</ion-button>
      </div>
      
      <div class="login-btn">
        <ion-button (click)="loginAction()"  shape="round" class="gradient-btn login-btn">Login</ion-button>   
      </div>

      <ion-row class="create-acct">
        Don't have an account? &nbsp; <a routerLink="/signup">Create a new account!</a>
      </ion-row>
      

    </ion-list>
  </form>
</ion-content>
