<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">      
      <img src="{{o_userRef.photoURL ? o_userRef.photoURL : this.image}}" (click)="viewSelectedProfile($event)" id ="xxx" name="yyy">    
    </ion-avatar>    
    <h3>{{o_userRef.displayName}}</h3> 
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      
      <ion-col *ngIf="message.sentBy == currentUser.user.uid" 
      size="9" [offset]="0" class="message my-message" >

        <b>{{ message.text}}</b> <br/>
        <div class="time ion-text-right">
          <br/> 
          {{ message.createdAt?.toMillis() | date: 'short' }}
        </div>
        </ion-col>

      <ion-col *ngIf="message.sentBy !== currentUser.user.uid" 
      size="9" [offset]="3" class="message other-message" >
      <b>{{ message.text}}</b> <br/>
        <div class="time ion-text-right">
          <br/> 
          {{ message.createdAt?.toMillis() | date: 'short' }}
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <div >         
          <ion-textarea rows="1" class="message-input"
          auto-grow="true" maxRows="4" (keyup.enter)="sendMessage()"
          maxLength="500" [(ngModel)]="newMsg"></ion-textarea>
        </div>
      </ion-col>
      <ion-col size="2" class="col-small">  
        <ion-fab-button 
        fill="clear" 
        [disabled]="newMsg === '' "  
        class="submit-btn " 
        (click)="sendMessage()"
        slopt="end" 
        size="small"
        color="tertiary"
        >        
          <ion-icon name="send"></ion-icon>          
        </ion-fab-button> 


      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


