ion-header {
  h3 {
    font-size: 17px;
  }

  ion-avatar,
  .img {
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 20px;
  }
}

.message {
  border-radius: 18px !important;
  padding: 8px 10px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 0.9rem;
    margin: 0px;
  }
  p {
    padding-bottom: 0px;
    margin: 0px;
    font-size: 0.7rem;
  }
}

.my-message {
  background-color: rgb(92, 92, 136);
  color: #fff;
  font-size: 0.7rem;
}

.other-message {
  background: rgb(132, 138, 225);
  color: #fff;
  font-size: 14px;
}

.time {
  color: #dfdfdf;
  float: right;
  align-items: flex-end;
  //font-size: small;
}

.message-input {
  margin-left: 5px;
  margin-top: 0px;
  border: 2px solid rgb(189, 189, 196);
  border-radius: 20px;
  resize: none;
  max-height: 120px;
}

.send-btn {
  background: rgb(187, 189, 212);
  box-shadow: 0px 2px 14px rgb(30 40 182 / 59%);
  border-radius: 50px;
  font-size: 10px;
  width: 40px;
  height: 40px;
  display: flex;
}

.col-small {
  display: flex;
  justify-content: center;
  padding: 0px;

  ion-fab-button {
    .submit-btn {
      border-radius: 50px;
      width: 40px;
      height: 40px;
    }
  }

  ion-icon {
    font-size: 23px;
  }
}

.text-card-prompt {    
  background-color: rgba(148, 148, 158, 0.466);
  --box-shadow: rgba(28, 61, 207, 0.12) 0px 4px 16px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 5px; 
  border-radius: 10px;
  width: 100%;
  margin: 5px 0px 5px 0px;

  .profile-prompts-text { 
    padding: 10px 10px 10px 10px;
    width: 100%;
    
    p {
      //margin: 0px 0px 0px 0px;
      font-weight: 600;
      color:rgb(187, 189, 194);
      font-size: 12px !important;
      font-family: "Raleway", sans-serif;
    }
  }
}

.profile-prompts-asnwer { 
  padding: 0px 10px 10px 10px;
  width: 100%;

  h3 {    
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px !important;
    line-height: 16px !important;
    font-family: "Domine", serif;
  }
}
