<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img
        src="{{otherUserData?.otherPhotoURL ? otherUserData.otherPhotoURL : this.image}}"
        (click)="viewSelectedProfile(otherUserData)"
      />
    </ion-avatar>
    <h3>{{otherUserData?.otherFirstLastName}}</h3>
  </ion-toolbar>
</ion-header>


<ion-content #content class="ion-padding">
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col
        *ngIf="message.sentBy !== currentUser.uid"
        size="7"
        [offset]="4"
        class="message other-message"
      >
        <div>
          <div *ngIf="message.img"> 
            <img src="{{message?.img ? message.img : this.image}}">
          </div>
          <h3>{{ message.text}}</h3>
          <br />
          <span class="time ion-text-right">
            <p>{{message.createdAt.seconds | dateAgo }}</p>
          </span>
        </div>
      </ion-col>

      <ion-col
        *ngIf="message.sentBy == currentUser.uid"
        size="7"
        [offset]="1"
        class="message my-message"
      >
        <div>
          <div *ngIf="message.img"> 
            <img src="{{message?.img ? message.img : this.image}}">
          </div>
          <h3>{{ message.text}}</h3>
          <br />
          <span class="time ion-text-right">
            <p>{{message.createdAt.seconds | dateAgo }}</p>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <div>
          <ion-textarea
            rows="1"
            class="message-input"
            auto-grow="true"
            maxRows="4"
            (keyup.enter)="sendMessage()"
            maxLength="500"
            [(ngModel)]="newMsg"
          ></ion-textarea>
        </div>
      </ion-col>
      <ion-col size="2" class="col-small">
        <ion-fab-button
          fill="clear"
          [disabled]="newMsg === '' "
          class="submit-btn"
          (click)="sendMessage()"
          slopt="end"
          size="small"
          color="tertiary"
        >
          <ion-icon name="send"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
