<ion-header>
  <ion-toolbar>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item  
    *ngFor=" let message of messages | async ; let i = index" 
    (click)="selectedConversation(message)">
      
    <ion-avatar slot="start">
        <img src="{{message.fromPhoto? message.fromPhoto : this.image}}">
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <ion-note slot="start"><h2>{{message.fromName}}</h2></ion-note>
          <ion-note class="time" slot="end">{{message.createdAt.seconds | dateAgo }} </ion-note>                  
        </div>
        <div class="flex_box">
          <ion-note class="messageBottomRow">
            <ion-icon [ngClass]="message.read ? 'messageIsRead' : 'messageIsNotRead' " name="checkmark-done-outline"></ion-icon>
            <h3>{{message.lastMessageSent}}</h3>
          </ion-note>
          <!-- <ion-icon [ngClass]="message.delivered ? 'messageIsDelivered' : 'messageIsNoDevlivered' " name="checkmark-outline"></ion-icon> -->
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  size="small" (click)="goToContacts()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
