
ion-toolbar{
    position: absolute;
    --background: transparent;
    --ion-color-base: transparent !important;  
    ion-row{
        ion-buttons{            
            padding: 20px 20px 0px 0px;         
        }
    }    
}
